.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  width: 100%;

  & .menu-list {
    display: flex;
    column-gap: 20px;
    align-items: center;
    & .logo {
      font-size: 32px;
      margin-right: 20px;
    }
  }
  & .content {
    margin-top: 20px;
  }
}